*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#faf7f2;
    color:#222;
}


/* Navbar */

header{
    width:100%;
    position:fixed;
    top:0;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
}


.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:26px;
    font-weight:bold;
}


.logo img{
    width:45px;
    height:45px;
    object-fit:contain;
}


.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}


.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:600;
}


.menu-btn{
    display:none;
}


/* Hero */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:120px 8% 50px;
    gap:50px;
}


.hero-content{
    width:50%;
}


.hero-content h1{
    font-size:65px;
    line-height:1.1;
    margin-bottom:20px;
}


.hero-content p{
    font-size:20px;
    line-height:1.6;
    margin-bottom:30px;
}


.btn{
    display:inline-block;
    padding:14px 30px;
    background:#8b5cf6;
    color:white;
    border-radius:30px;
    text-decoration:none;
    margin-right:15px;
}


.outline{
    background:transparent;
    color:#8b5cf6;
    border:2px solid #8b5cf6;
}


.hero-image{
    width:45%;
}


.hero-image img{
    width:100%;
    max-height:600px;
    object-fit:cover;
    border-radius:30px;
}



/* Mobile */

@media(max-width:768px){

    .nav-links{
        display:none;
    }

    .menu-btn{
        display:block;
        font-size:25px;
        border:none;
        background:none;
    }


    .hero{
        flex-direction:column;
        text-align:center;
    }


    .hero-content,
    .hero-image{
        width:100%;
    }


    .hero-content h1{
        font-size:42px;
    }

}
/* About Section */

.about{
    padding:80px 8%;
    background:white;
    text-align:center;
}


.about h2{
    font-size:42px;
    margin-bottom:20px;
}


.about-content p{
    max-width:800px;
    margin:15px auto;
    font-size:18px;
    line-height:1.7;
}


.skills{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:50px;
    flex-wrap:wrap;
}


.skill-card{
    width:280px;
    padding:30px;
    border-radius:20px;
    background:#faf7f2;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}


.skill-card h3{
    margin:15px 0;
}